/**
 * Created by Eunjin Yang on 2018. 10. 9.
 * Corp : Kstar Group
 * Github : http://github.com/jinny920311
 */

/*noto-sans*/


@font-face {
  font-family: 'Noto Sans CJK';
  font-weight: 400;
  src: url('./assets/fonts/NotoSansCJKkr-Regular.eot');
  src: url('./assets/fonts/NotoSansCJKkr-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/NotoSansCJKkr-Regular.woff') format('woff'),
  url('./assets/fonts/NotoSansCJKkr-Regular.otf') format('opentype');
  src: local(※), url('./assets/fonts/NotoSansCJKkr-Regular.woff') format('woff');
}

///*noto-sans Medium*/
@font-face {
  font-family: 'Noto Sans CJK';
  font-weight: 500;
  src: url('./assets/fonts/NotoSansCJKkr-Medium.eot');
  src: url('./assets/fonts/NotoSansCJKkr-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/NotoSansCJKkr-Medium.woff') format('woff'),
  url('./assets/fonts/NotoSansCJKkr-Medium.otf') format('opentype');
  src: local(※), url('./assets/fonts/NotoSansCJKkr-Medium.woff') format('woff');
}

///*noto-sans Bold*/
@font-face {
  font-family: 'Noto Sans CJK';
  font-weight: 600;
  src: url('./assets/fonts/NotoSansCJKkr-Bold.eot');
  src: url('./assets/fonts/NotoSansCJKkr-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/NotoSansCJKkr-Bold.woff') format('woff'),
  url('./assets/fonts/NotoSansCJKkr-Bold.otf') format('opentype');
  src: local(※), url('./assets/fonts/NotoSansCJKkr-Bold.woff') format('woff');
}
